.container-1-geral {
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
}

.container-1-bloco1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-1-bloco1 h1 {
    color: #5907e7;
    margin-bottom: 30px;
}

.h1-feeding {
    font-size: 55px;
    font
}

.h1-juntos {
    margin-top: 30px;
    font-size: 45px;

}

/* PALAVRAS DESTACADAS */
.p-destacado {
    color: black;
}

.p-feeding {
    font-size: 20px;
    margin-bottom: 70px;
}

.p-juntos {
    font-size: 18px;
}

.container-1-bloco2 img{
    display: flex;
    justify-content: center;
    width: 110%;
    border-radius: 80px 10px;
    transition: .8s;
}

.container-1-bloco2 img:hover {
    transform: scale(110%);
    transform: .8s;
}