.container-3-geral {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.h1-publico {
    font-size: 40px;
    color: #571AC1;
    margin-bottom: 30px;
}


.p-publico {
    font-size: 20px;
    margin-bottom: 50px;
}


.foto-bloco3 {
    transition: .8s;
}   

.foto-bloco3:hover {
    transform: scale(110%);
    transition: .8s;
}


